* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

img {
  height: 150px;
}

.page-header,
.page-footer {
  flex-shrink: 0;
}
.card h3 {
  padding: 2px;
  margin: 8px 0;
}

img .thumbnail {
  justify-content: space-evenly;
}

.page-body {
  flex-grow: 1;
  background-color: #f9f9f9;
  margin: 0px;
}

span {
  color: #00b3ff;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
}

.nav-link {
  color: #00b3ff;
}

footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  background-color: rgb(163, 221, 228);
  scroll-padding-bottom: 100%;
}
